body {
  background: var(--color-bg);
  background: var(--color-txt);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iphone-text a:link {
  color: black;
  text-decoration: none;
}
.iphone-text a:visited {
  color: black;
}

.iphone-text {
  font-family: "SFDisplay Light";
}
.samsung-text {
  font-family: "Samsung";
}

.unsel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** iphone lol **/
.phone-list {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
}
