html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  background: var(--color-txt);
}

.center {
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iphone-text a:link {
  color: black;
  text-decoration: none;
}
.iphone-text a:visited {
  color: black;
}

.iphone-text {
  font-family: "SFDisplay Light";
}
.samsung-text {
  font-family: "Samsung";
}

.iphone-text-white a:link {
  color: white;
  text-decoration: none;
}
.iphone-text-white a:visited {
  color: white;
}

.iphone-text-white {
  font-family: "SFDisplay Light";
  color: white;
}
.samsung-text-white {
  font-family: "Samsung";
  color: white;
}

.unsel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th {
  font-weight: normal;
}
td a:link, th a:link {
  color: #000;
  text-decoration: none;
}
td a:visited, th a:visited {
  color: #000;
}
td, th {
  font-size: 30px;
  font-family: "SFDisplay Light";
}

/** iphone lol **/
.phone-list {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
}

/** 404 page **/
.error-text {
  font-family: "SFDisplay Regular";
  font-weight: bold;
  font-size: 75px;
  color: black;
  line-height: 1px;
}
.error-text a:link {
  color: black;
  text-decoration: none;
}
.error-text a:visited {
  color: black;
}

.error-text2 {
  font-family: "SFDisplay Regular";
  font-weight: normal;
  font-size: 30px;
  color: black;
}
